import React from 'react';
import { {{capitaliseName name}} } from '..';

export default {
    title: 'Ingredients|{{capitaliseName name}}',
    component: {{capitaliseName name}}
};

export const {{lowerName name}} = () => (
    <div>
        {{capitaliseName name}}
    </div>
);


{{lowerName name}}.story = {
    name: '{{capitaliseName name}}'
};